@import '../../styles/variables';

.sidebar {
  background-color: $fontBlack;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);  
  flex-basis: 50px;
  flex-shrink: 0; 
  height: 100%;
  z-index: 1;
  ul {
    list-style: none;
    margin-top: 30px;
    text-align: center;
    li {
      padding: 10px 0;
      position: relative;
      transition: background-color .2s $materialEase;
      width: 100%;
      &.active {
        &:before {
          opacity: 1;
          transform: scaleY(1);
        }
        // background-color: #161616;
        a {
          color: $appColor;
        }
      }
      &:before {
        background-color: $appColor;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: scaleY(0);
        transform-origin: center;
        transition: transform .2s $materialEase, opacity 100ms $materialEase;
        width: 3px;
      }
      a {
        color: white;
        font-size: 18px;
      }
    }
  }
}

.logo {
  padding: 10px 5px;
  width: 100%;
}