.task {
    margin: 10px 0;
}

.task-item-enter {
    opacity: 0;
}

.task-item-enter.task-item-enter-active {
    opacity: 1;
    transition: opacity .2s ease-in;
}

.task-item-leave {
    opacity: 1;
}

.task-item-leave.task-item-leave-active {
    opacity: 0;
    transition: opacity .2s ease-out;
}