@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.dashboard {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.dashboard .welcome, .dashboard-tasks {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  padding: 60px;
  vertical-align: top;
  width: 50%;
}

.dashboard .welcome {
  text-align: left;
}

.dashboard .welcome h1 {
  font-size: 40px;
  font-weight: 700;
}

.welcome p {
  line-height: 1.5;
  margin-top: 50px;
}