@import 'variables';

::-moz-selection {
  background-color: rgba($appColor, .7);
  color: white;
}

::selection {
  background-color: rgba($appColor, .7);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  color: $fontBlack;
  display: flex;
  height: 100%;
  text-align: center;
}

.appContent {
  background-color: $appBg;
  flex-grow: 1;
  overflow: scroll;
}